:root {
  --bg-header-color: #fff;
  --text-section-footer-color: #fff;
  --bg-color: #f5f5f5;
  --bg-screan-footer-color: #2f303a;
  --focus-color: #2196f3;
  --accent-color: #2196f3;
  --o-nas-color: #757575;
  --title-text-color: #212121;
  --comands-color: #f5f4fa;
  --logo-studia-color: #0000;
  --header-studio-color: #000000;
   --border-cards-color: #EEEEEE;
  }
 body {
   font-family: 'Roboto' , sans-serif ;
   background-color: #fff;
   color: #757575;
  }
/* header */
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
.header {
  border-bottom: 1px solid #ECECEC;
}
  .header-nav{
display: flex;
align-items:center ;

  }
.header-container {
  display: flex;
align-items:center ;
}
.header-contakt {
  display: flex;
  margin-left: auto;
}
.header-contakt .item + .item {
  margin-left: 50px;
}
.site-nav{
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item{
 
  margin-left: 50px;
}
.site-nav .header-list-link {
  display: block;
 padding-top: 32px;
 padding-bottom: 32px;
}


.button {
  cursor: pointer;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-studio {
  color: var(--header-studio-color);
}
.link {
  text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.list-aktive-link:hover,
.list-aktive-link:focus {
  color: var(--focus-color);
}
.kurent {
  color: var(--focus-color);
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--o-nas-color);
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--o-nas-color);
}
/* Заголовок */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

background: var(--bg-screan-footer-color);
}
.hero-title {
  width: 694px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-header-color);
}
.hero-buton {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* УВАГА ДО ДЕТАЛЕЙ */
.about-list{
display: flex;

}
.about-list .item:not(:last-child) {
margin-right: 30px;
}
.about-list .item{
  flex-basis: calc((100% - 90px) / 3);
}
.about-list-text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.about-list-text2 {
  margin-top: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
 color:var(--o-nas-color)
  /* Чим ми займаємося */
}
.devaise-lis {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.img {
margin-right: 30px;
box-sizing: border-box;
}
/* Наша команда */
.name-comands{
  background:var(--comands-color)
}

.name-comands-text {
  margin-bottom: 50px;
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.devaise-list-text{
  display: flex;
}
.name-comands-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.devaise-list-img{
  padding-bottom: 30px;
}
.container-commands-cart{
padding: 30px 10px;
}
.name-programist {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.name-profesion {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--o-nas-color);
}
.name-comands-img{
}
.name-comands-programist {
  width: 270px;
  background: var(--bg-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* footer */
.footer {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bg-screan-footer-color);
}
.footer-logo {
  
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);

}
.footer-logo-studio {
  color: var(--bg-header-color);
}
.footer-ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-ul .item + .item {
  margin-top: 9px;
}
.footer-adres {
  margin-top: 20px;
}
.footer-list-item {
   font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-section-footer-color);
}
.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Поттфолио */
.portfolio-blok{
  display: flex;
  flex-wrap: wrap;
}
.portholio-item {
  max-width: calc((100% - 60px)/3);
  margin-right: 30px;
}
.portholio-item:nth-child(n+4) {
  margin-top: 30px;
}
.portholio-item:nth-child(3n){
   margin-right: 0;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .client-list{
  display: flex;
  justify-content: space-around;
  width: 575px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
    

    }
    .button-portholio{
padding: 6px 22px;
border-radius: 4px;
border: none;
    }
 
.button-portholio:hover,
.button-portholio:focus {
    background-color: var(--focus-color);
    color: var(--bg-header-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.button-portholio {
    padding: 6px 22px;
    background-color: var(--comands-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }
    {
  .all 
    padding: 6px 25px;
  }
.carts-button:hover,
.carts-button:focus {
  color: var(--bg-header-color);
  background: var(--accent-color);
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px
}
.commands-list-item {
  background-color: var(--bg-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.container-cards{

 padding: 20px 24px;
 border: 1px solid var(--border-cards-color);
  border-top: none;
}
.poster-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.poster-text2 {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--o-nas-color);
}
.flex-container{
  display: flex;
  padding: 300px;
}
.